name: installed_apps
description: Flutter plugin with utility methods related to installed apps on device.
version: 1.5.0
homepage: https://github.com/sharmadhiraj/installed_apps

environment:
  sdk: '>=2.12.0 <4.0.0'
  flutter: ">=1.12.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.sharmadhiraj.installed_apps
        pluginClass: InstalledAppsPlugin