name: installed_apps
description: Flutter plugin with utility methods related to installed apps on device.
version: 2.1.0
homepage: https://github.com/sharmadhiraj/installed_apps

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.sharmadhiraj.installed_apps
        pluginClass: InstalledAppsPlugin